<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to WeRide!</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
    
<body>
    <div id="index_body_banner">
        <div id="index_body_banner_logo" onclick="location.href='index.html'">
            WeRide
        </div>
        <span>together, make the world a better place</span>
        <div id="index_body_banner_login">
            <button id="login_button" onclick="location.href='logout'">Log out</button>>
        </div>
    </div>
    <div id="login_body_main">
      <div id="side_bar">
      <li id="side_bar_name">Hi, {% verbatim %}{{ username }}{% endverbatim%}!</li>
      <li id="side_bar_start" @click="start">Start</li>
      <li id="side_bar_orders" @click="orders">Ride Orders</li>
      <li id="side_bar_drive_orders">Drive Orders</li>
      <li id="side_bar_driver_info">Driver Info</li>
      <li id="side_bar_account">Account</li>
      </div>
      <div id="main_content">
        <iframe id="main_iframe" src="/start.html">

        </iframe>
      </div>
      
    </div>
    
    <script>
      var start = document.getElementById("side_bar_start")
      var orders = document.getElementById("side_bar_orders")
      var drive_orders = document.getElementById("side_bar_drive_orders")
      var iframe = document.getElementById("main_iframe")
      var driver = document.getElementById("side_bar_driver_info")
      var account = document.getElementById("side_bar_account")
      start.onclick = function() {
        iframe.src = "/start.html";
      }
      orders.onclick = function() {
        iframe.src = "/orders.html"
      }
      driver.onclick = function() {
        iframe.src = "/driver.html"
      }
      account.onclick = function() {
        iframe.src = "/account.html"
      }
      drive_orders.onclick = function() {
        iframe.src = "/drive_orders.html"
      }
      </script>
      <script>
      var app = new Vue({
            el:"#login_body_main",
            data:{
                username:'',
                password:'',
                email:'',
                isdriver:'',
                iframe: document.getElementById("main_iframe")
            },
            mounted: function() {
                    that = this;
                    axios.get("/aux_get_name").then(function(response) {  
                    that.username = response.data[0].fields.username
                    }).catch(function(err) {
                        alert('Error');
                    });
            },
            methods: {
              start: function() {
                iframe.src = "/start.html"
              },
              orders: function() {
                iframe.src = "/orders.html"
              }
            }

        
            

        });

        
    </script>

</body>
</html>