<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title></title>
    <style>
        h2 {
            text-align:left;
            width: 87%;
            margin-top: 30px;
            margin-left: 80px;
            padding-bottom: 5px;
            border-bottom: 1px solid gray;
        }
    </style>
</head>
<body>
    <div id="orders_body">
    <h2>Open:</h2>
    <ul v-for='item in open_list'>
        <li><b>{{item.date}}</b></li>
        
        <li>{{item.fengxiang}}</li>
        <li style="color:red">{{item.high}}</li>
        <li style="color:blue">{{item.low}}</li>
        <li>{{item.type}}</li>
    </ul>
    <br>
    <h2>Confirmed:</h2>
    <ul v-for='item in confirmed_list'>
        <li><b>{{item.date}}</b></li>
        
        <li>{{item.fengxiang}}</li>
        <li style="color:red">{{item.high}}</li>
        <li style="color:blue">{{item.low}}</li>
        <li>{{item.type}}</li>
    </ul>
    <br>
    <h2>Completed:</h2>
    </div>
    <script>
        var app = new Vue({
            el:"#orders_body",
            data:{
                open_list: [],
                confirmed_list: [],
            },
            mounted: function() {
                that = this;
                axios.get("/orders").then(function(response) {
                    console.log(response.data)
                    if (response.data.status_code == 1) {
                        alert("Please log in first!")
                    } else {
                        that.open_list = []
                        that.confirmed_list = []
                        for (i = 0; i < response.data.length; ++i) {
                            if (response.data[i].fields.status == 4) {
                                that.confirmed_list.push(response.data[i].fields)
                            } else if (response.data[i].fields.status > 0 && response.data[i].fields.status < 4) {
                                that.open_list.push(response.data[i].fields)
                            }
                        }
                    }
                }).catch(function(err) {
                    alert('Error');
                });
            },
            methods: {
                request: function() {
                    that = this;
                    axios.get().then(function(response) {
                        if (response.data.status_code != 0) {
                            alert("Please log in first!")
                        } else {
                            alert("Order has been published!")
                        }
                    }).catch(function(err) {
                        alert('Error');
                    });
                }
            },
            

        });
    </script>
</body>
</html>