<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title></title>
</head>
<body>
    <div id="secret_signup">
        <div id="app">
            <div class="register">
                <h2>Ride Information</h2>
                Destination: &nbsp;<input type="text" v-model="registerKey" required maxlength="20">
                <input type="text" v-model="registerVal" @keyup.enter="register" placeholder="请输入密码" required maxlength="20">
                <button @click="register">Request a Ride Now</button>
            </div>
          
            
        </div>
        
        
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                registerKey:'',
                registerVal:'',
                loginKey:'',
                loginVal:''
            },
            methods: {
                register: function() {
                    that = this;
                    if (that.registerKey == '' || that.registerKey.match("[a-zA-Z0-9]+@[a-zA-Z0-9]+") == null) {
                        alert('bogie')
                        return
                    }
                    axios.get("http://3.139.102.174/register?key="+that.registerKey+"&val="+that.registerVal).then(function(response) {
                        if (response.data == '0') {
                            alert("用户已存在");
                        } else {
                            alert("注册成功");
                        }
                    }).catch(function(err) {
                        alert('Error');
                    });
                },
                login: function() {
                    that = this;
                    if (that.loginKey == '' || that.loginVal == '') {
                        alert('登录信息不能为空')
                        return;
                    }
                    axios.get("http://3.139.102.174/login?key="+that.loginKey+"&val="+that.loginVal).then(function(response) {
                        if (response.data == '0') {
                            alert("用户名或密码错误");
                        } else {
                            localStorage.setItem("id", that.loginKey);
                            document.write(response.data);
                        }
                    }).catch(function(err) {
                        alert('Error');
                    });
                }
            },
            

        });
    </script>
    
</body>
</html>